/* Card */

.card--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 192px;
  height: 244px;
  margin: 0 2em 2em 0;
  box-shadow: 0px 1px 16px 1px rgba(17, 24, 39, 0.05);
  background-image: url("../../Assests/design.svg");
}

.card--image {
  display: flex;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #2563eb;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  margin-bottom: 1em;
  color: white;
}

.card--title {
  font-size: 1.25rem;
}

.card--occupation {
  font-size: 0.75rem;
  color: #6b7280;
}
