* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

html {
  font-size: 18px;
}

.app--container {
  display: flex;
  min-height: 100vh;
}

.page--container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
